@charset "UTF-8";

/* em HTML  é id = em CSS é #
   em HTML  é class = em CSS é .  */

body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}


h1#principal {
    text-align: center;
}

h1 {
    color: blue;
}

h2 {
    color: rgb(63, 179, 179);
}

.basico{
     color: blue;
}.intermediario {
    color: rgb(204, 149, 83);
}

.avancado {
    color: rgb(240, 11, 11);
}
.teste {
    color: rgb(28, 207, 43);
}